<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Время</th>
        <th scope="col">Цель</th>
        <th scope="col">Место</th>
        <th scope="col">Организатор</th>
        <th scope="col">Участники</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ getEventDate(event) }}</td>
        <td>{{ event.purpose }}</td>
        <td>{{ event.meetingRoom }}</td>
        <td>{{ event.applicant }}</td>
        <td>{{ event.participantsList }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
