<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Name</th>
        <th scope="col">Creation Time</th>
        <th scope="col">Purpose</th>
        <th scope="col">Meeting Room</th>
        <th scope="col">Initial State</th>
        <th scope="col">Applicant</th>
        <th scope="col">Participants List</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.id }}</td>
        <td>{{ event.startTime }}</td>
        <td>{{ event.endTime }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.creationTime }}</td>
        <td>{{ event.purpose }}</td>
        <td>{{ event.meetingRoom }}</td>
        <td>{{ event.initialState }}</td>
        <td>{{ event.applicant }}</td>
        <td>{{ event.participantsList }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
