<div class="card my-5">
  <div class="card-body">
    <table border="1" id = "table-calendar">
      <tbody id="tbody-calendar">
      <tr>
        <td class = "above_calendar_empty_first" ></td>
        <td class = "above_calendar" >
          <button type="button" (click)="changeDatePreviousDay()" id = "buttonPreviousDay">
            <
          </button>
        </td>
        <td class = "above_calendar" colspan="2">
          <input type="date" [(ngModel)]="dateSelected"
                 class="form-control"
                 id="dateSelected"
                 name="dateSelected"
                 (change)="fillCalendar()">
        </td>
        <td class = "above_calendar" >
          <button type="button" (click)="changeDateNextDay()" id = "buttonNextDay">
            >
          </button>
        </td>
        <td class = "above_calendar" colspan="3" >
          <select [(ngModel)]="meetingRoomSelected"
                  class="form-control"
                  id="meetingRoomSelected"
                  name="meetingRoomSelected"
                  (change)="fillCalendar()">
            <option [ngValue] = 0 disabled >Выберете место события</option>
            <option *ngFor="let meetingRoom of meetingRooms" [ngValue]="meetingRoom.id">{{meetingRoom.name}}</option>
            <option [ngValue] = 100 >Все места событий</option>
          </select>
        </td>
        <td class = "above_calendar" colspan="2">
          <button type="button" (click)="fillCalendar()" id = "buttonFillCalendar">
            Применить
          </button>
        </td>
        <td class = "above_calendar" colspan="3">
          <button type="button" (click)="goToEventFormWithDefaultTime()">
            Добавить событие
          </button>
        </td>
      </tr>
      <tr>
        <td class="above_calendar_empty_second"></td>
        <td><strong>08:00</strong></td>
        <td><strong>09:00</strong></td>
        <td><strong>10:00</strong></td>
        <td><strong>11:00</strong></td>
        <td><strong>12:00</strong></td>
        <td><strong>13:00</strong></td>
        <td><strong>14:00</strong></td>
        <td><strong>15:00</strong></td>
        <td><strong>16:00</strong></td>
        <td><strong>17:00</strong></td>
        <td><strong>18:00</strong></td>
        <td><strong>19:00</strong></td>
      </tr>
      <tr>
        <td><strong>00:00</strong></td>
        <td id = "1" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "7" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "13" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "19" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "25" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "31" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "37" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "43" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "49" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "55" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "61" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "67" (click)="showEventDetails($event)">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>00:10</strong></td>
        <td id = "2" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "8" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "14" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "20" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "26" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "32" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "38" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "44" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "50" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "56" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "62" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "68" (click)="showEventDetails($event)">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>00:20</strong></td>
        <td id = "3" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "9" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "15" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "21" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "27" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "33" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "39" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "45" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "51" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "57" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "63" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "69" (click)="showEventDetails($event)">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>00:30</strong></td>
        <td id = "4" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "10" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "16" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "22" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "28" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "34" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "40" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "46" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "52" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "58" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "64" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "70" (click)="showEventDetails($event)">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>00:40</strong></td>
        <td id = "5" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "11" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "17" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "23" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "29" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "35" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "41" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "47" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "53" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "59" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "65" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "71" (click)="showEventDetails($event)">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>00:50</strong></td>
        <td id = "6" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "12" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "18" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "24" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "30" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "36" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "42" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "48" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "54" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "60" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "66" (click)="showEventDetails($event)">&nbsp;</td>
        <td id = "72" (click)="showEventDetails($event)">&nbsp;</td>
      </tr>
      <tr *ngFor="let details of detailsList; trackBy: identify; let i = index">
        <td class="under_calendar">
          <p class = "details_header"><strong>Событие</strong></p>
        </td>
        <td class="under_calendar" colspan="9">
          <p class="details" align="left" [innerHTML]=" details "></p>
        </td>
        <td class="under_calendar" colspan="3">
          <button type="button" (click)="goToEventFormWithId(i)">
            Изменить
          </button>
          <br>
          <br>
          <button type="button" (click)="cancelEvent(i)">
            Отменить
          </button>
        </td>
      </tr>
      <tr id = "bottomButtonTr" class="bottom-button">
        <td colspan="13">
          <button type="button" (click)="goToEventFormWithTime()" class="bottom-button">
            Добавить событие на это время
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
