<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="form-group">
        <table style="border-collapse: collapse; width: 100%; height: 275px; border: none; ">
          <tbody>
          <tr style="height: 30px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="name">Название</label>
              </div>
            </td>
            <td style="width: 75%; height: 30px;" colspan="3">
              <div class="form-group">
                <input type="text" [(ngModel)]="event.name"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Введите название события"
                        maxlength="50"
                        required #name="ngModel">
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="startTime">Время начала события</label>
              </div>
            </td>
            <td style="width: 75%; height: 30px;" colspan="3">
              <div class="form-group">
                <input type="datetime-local" [(ngModel)]="startTimeString"
                       class="form-control"
                       id="startTime"
                       name="startTime"
                       placeholder="Введите время начала события"
                       required #startTime="ngModel"
                       (change)="startTimeChange()">
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="endTime">Время конца события</label>
              </div>
            </td>
            <td style="width: 75%; height: 30px;" colspan="3">
              <div class="form-group">
                <input type="datetime-local" [(ngModel)]="endTimeString"
                       class="form-control"
                       id="endTime"
                       name="endTime"
                       placeholder="Введите время конца события"
                       required #endTime="ngModel"
                       (change)="endTimeChange()">
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="purpose">Цель события</label>
              </div>
            </td>
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <select [(ngModel)]="event.purpose"
                        class="form-control"
                        id="purpose"
                        name="purpose"
                        required #purpose="ngModel"
                        (change)="checkOtherPurpose()">
                  <option [ngValue] = 0 disabled selected>Выберете цель события</option>
                  <option *ngFor="let purpose of purposes" [ngValue]="purpose.id">{{purpose.name}}</option>
                  <option [ngValue] = 100 >Другое...</option>
                </select>
              </div>
            </td>
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="new-purpose-text"
                       placeholder="Введите новую цель"
                       maxlength="50"
                       size="30"
                       hidden
                       (change)="checkNewPurposeContent()">
              </div>
            </td>
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <button type="button"
                        id = "new-purpose-button"
                        hidden
                        (click)="createNewPurpose()">
                  Сохранить новую цель
                </button>
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="meetingRoom">Место события</label>
              </div>
            </td>
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <select [(ngModel)]="event.meetingRoom"
                        class="form-control"
                        id="meetingRoom"
                        name="meetingRoom"
                        required #meetingRoom="ngModel"
                        (change)="checkOtherMeetingRoom()">
                  <option [ngValue] = 0 disabled selected>Выберете место события</option>
                  <option *ngFor="let meetingRoom of meetingRooms" [ngValue]="meetingRoom.id">
                    {{meetingRoom.name}}</option>
                  <option [ngValue] = 100 >Другое...</option>
                </select>
              </div>
            </td>
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="new-room-text"
                       placeholder="Введите новое место"
                       maxlength="50"
                       size="30"
                       hidden
                       (change)="checkNewMeetingRoomContent()">
              </div>
            </td>
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <button type="button"
                        id = "new-room-button"
                        hidden
                        (click)="createNewMeetingRoom()">
                  Сохранить новое место
                </button>
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="applicant">Организатор</label>
              </div>
            </td>
            <td style="width: 75%; height: 30px;" colspan="3">
              <div class="form-group">
                <input type="text" [(ngModel)]="event.applicant"
                       class="form-control"
                       id="applicant"
                       name="applicant"
                       placeholder="Введите ФИО организатора события"
                       maxlength="50"
                       required #applicant="ngModel">
              </div>
            </td>
          </tr>
          <tr style="height: 65px;">
            <td style="width: 25%; height: 30px;">
              <div class="form-group">
                <label for="participantsList">Список участников</label>
              </div>
            </td>
            <td style="width: 75%; height: 30px;" colspan="3">
              <div class="form-group">
                <textarea [(ngModel)]="event.participantsList"
                          class="form-control"
                          id="participantsList"
                          name="participantsList"
                          placeholder="Введите ФИО участников события"
                          required #participantsList="ngModel"
                          maxlength="256"
                          cols="56"
                          rows="3"></textarea>
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
            <td style="text-align: center; width: 25%; height: 30px;">
              <a routerLink="/calendar" class="btn btn-info">Отменить</a>
            </td>
            <td style="text-align: center; width: 25%; height: 30px;">
              <button type="button" hidden>
                Предыдущее состояние
              </button></td>
            <td style="text-align: center; width: 25%; height: 30px;">
              <button type="button" hidden>
                Последующее состояние
              </button>
            </td>
            <td style="text-align: center; width: 25%; height: 30px;">
              <button type="submit" [disabled]="!(eventForm.form.valid) || checkAllFields()"
                      class="btn btn-info">Сохранить</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div [hidden]="!checkName()" class="alert alert-danger">Необходимо указать название события!</div>
        <div [hidden]="!checkStartTimeUsed()" class="alert alert-danger">Необходимо указать время начала события!</div>
        <div [hidden]="!checkEndTimeUsed()" class="alert alert-danger">Необходимо указать время конца события!</div>
        <div [hidden]="!checkPurpose()" class="alert alert-danger">Необходимо выбрать цель события!</div>
        <div [hidden]="!checkMeetingRoom()" class="alert alert-danger">Необходимо выбрать место события!</div>
        <div [hidden]="!checkApplicant()" class="alert alert-danger">Необходимо указать организатора события!</div>
        <div [hidden]="!checkParticipantsList()" class="alert alert-danger">
          Необходимо указать участников события!</div>
        <div [hidden]="!compareDates()" class="alert alert-danger">
          Время конца события должно быть позднее времени начала события!</div>
        <div [hidden]="!checkStartTime()" class="alert alert-danger">
          Время начала события должно быть не ранее 8:00!</div>
        <div [hidden]="!checkEndTime()" class="alert alert-danger">
          Время конца события должно быть не позднее 20:00!</div>
        <div [hidden]="!checkOneDay()" class="alert alert-danger">
          Событие должно проводиться в течение одного дня!</div>
      </div>
    </form>
  </div>
</div>
