<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" [(ngModel)]="event.id"
               class="form-control"
               id="id"
               name="id"
               placeholder="Enter id"
               required #id="ngModel">
      </div>
      <div [hidden]="!id.pristine" class="alert alert-danger">Id is required</div>
      <div class="form-group">
        <label for="startTime">Start Time</label>
        <input type="text" [(ngModel)]="event.startTime"
               class="form-control"
               id="startTime"
               name="startTime"
               placeholder="Enter start time"
               required #startTime="ngModel">
      </div>
      <div [hidden]="!startTime.pristine" class="alert alert-danger">Start time is required</div>
      <div class="form-group">
        <label for="endTime">End Time</label>
        <input type="text" [(ngModel)]="event.endTime"
               class="form-control"
               id="endTime"
               name="endTime"
               placeholder="Enter end time"
               required #endTime="ngModel">
      </div>
      <div [hidden]="!endTime.pristine" class="alert alert-danger">End time is required</div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="event.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter a meeting name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="creationTime">Creation Time</label>
        <input type="text" [(ngModel)]="event.creationTime"
               class="form-control"
               id="creationTime"
               name="creationTime"
               placeholder="Enter creation time"
               required #creationTime="ngModel">
      </div>
      <div [hidden]="!creationTime.pristine" class="alert alert-danger">Creation time is required</div>
      <div class="form-group">
        <label for="purpose">Purpose</label>
        <input type="text" [(ngModel)]="event.purpose"
               class="form-control"
               id="purpose"
               name="purpose"
               placeholder="Enter a meeting purpose"
               required #purpose="ngModel">
      </div>
      <div [hidden]="!purpose.pristine" class="alert alert-danger">Purpose is required</div>
      <div class="form-group">
        <label for="meetingRoom">Meeting Room</label>
        <input type="text" [(ngModel)]="event.meetingRoom"
               class="form-control"
               id="meetingRoom"
               name="meetingRoom"
               placeholder="Enter a meeting room name"
               required #meetingRoom="ngModel">
      </div>
      <div [hidden]="!meetingRoom.pristine" class="alert alert-danger">Meeting room is required</div>
      <div class="form-group">
        <label for="initialState">Initial State</label>
        <input type="text" [(ngModel)]="event.initialState"
               class="form-control"
               id="initialState"
               name="initialState"
               placeholder="Enter initial state"
               required #initialState="ngModel">
      </div>
      <div [hidden]="!initialState.pristine" class="alert alert-danger">Initial state is required</div>
      <div class="form-group">
        <label for="applicant">Applicant</label>
        <input type="text" [(ngModel)]="event.applicant"
               class="form-control"
               id="applicant"
               name="applicant"
               placeholder="Enter an applicant"
               required #applicant="ngModel">
      </div>
      <div [hidden]="!applicant.pristine" class="alert alert-danger">Applicant is required</div>
      <div class="form-group">
        <label for="participantsList">Participants List</label>
        <input type="text" [(ngModel)]="event.participantsList"
               class="form-control"
               id="participantsList"
               name="participantsList"
               placeholder="Enter participants list"
               required #participantsList="ngModel">
      </div>
      <div [hidden]="!participantsList.pristine" class="alert alert-danger">Participants list is required</div>
      <button type="submit" [disabled]="!eventForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
